In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/sample_data/Ecommerce Purchases.csv')

In [ ]:
df.head()

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

How many rows and columns are there?

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

What is the average Purchase Price

In [ ]:
df['Purchase Price'].mean()

50.34730200000025

What were the highest and lowest purchase prices?

In [ ]:
df['Purchase Price'].max()

99.99

In [ ]:
df['Purchase Price'].min()

0.0

How many people have English 'en' as their Language of choice on the website?

In [ ]:
sum(df['Language'] == 'en')

1098

How many people have the job title of "Lawyer" ?

In [ ]:
sum(df['Job'] == 'Lawyer')

30

 How many people made the purchase during the AM and how many people made the purchase during PM ?

In [ ]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

What are the 5 most common Job Titles?

In [ ]:
df['Job'].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [ ]:
df[df['Lot'] == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

What is the email of the person with the following Credit Card Number: 4926535242672853

In [ ]:
df[df['Credit Card'] == 4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?

In [ ]:
sum((df['CC Provider'] == 'American Express') & (df['Purchase Price'] > 95))

39

  How many people have a credit card that expires in 2025?

In [ ]:
sum(df['CC Exp Date'].apply(lambda x: x.split('/')[1]) == '25')

1033

What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com,

In [ ]:
df['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64