In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('/content/sample_data/Heart_Disease_Prediction.csv')

In [ ]:
df

     Age  Sex  Chest pain type  ...  Number of vessels fluro  Thallium  Heart Disease
0     70    1                4  ...                        3         3       Presence
1     67    0                3  ...                        0         7        Absence
2     57    1                2  ...                        0         7       Presence
3     64    1                4  ...                        1         7        Absence
4     74    0                2  ...                        1         3        Absence
..   ...  ...              ...  ...                      ...       ...            ...
265   52    1                3  ...                        0         7        Absence
266   44    1                2  ...                        0         7        Absence
267   56    0                2  ...                        0         3        Absence
268   57    1                4  ...                        0         6        Absence
269   67    1                4  ...                        3         3       Presence

[270 rows x 14 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(df.drop('Heart Disease',axis=1))

StandardScaler()

In [ ]:
scaled_feature=scaler.transform(df.drop('Heart Disease',axis=1))

In [ ]:
new=pd.DataFrame(scaled_feature,columns=df.columns[:-1])
new

          Age       Sex  ...  Number of vessels fluro  Thallium
0    1.712094  0.689500  ...                 2.472682 -0.875706
1    1.382140 -1.450327  ...                -0.711535  1.189277
2    0.282294  0.689500  ...                -0.711535  1.189277
3    1.052186  0.689500  ...                 0.349871  1.189277
4    2.152032 -1.450327  ...                 0.349871 -0.875706
..        ...       ...  ...                      ...       ...
265 -0.267629  0.689500  ...                -0.711535  1.189277
266 -1.147506  0.689500  ...                -0.711535  1.189277
267  0.172309 -1.450327  ...                -0.711535 -0.875706
268  0.282294  0.689500  ...                -0.711535  0.673032
269  1.382140  0.689500  ...                 2.472682 -0.875706

[270 rows x 13 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x=new
y=df['Heart Disease']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,CategoricalNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [ ]:
scores=[]
classifier=GaussianNB()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)
scores.append(accuracy_score(y_test,y_pred))
cm=confusion_matrix(y_test,y_pred)
cm

array([[46,  3],
       [10, 22]])

In [ ]:
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[46  3]
 [10 22]]
0.8395061728395061